# Секретный ключ Django (используется для шифрования данных)
SECRET_KEY=YOUR_SECRET_KEY

# Режим отладки (true для разработки, false для production)
DEBUG=false

# Настройки базы данных PostgreSQL
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=db
DB_PORT=YOUR_DB_PORT
DATABASE=postgres

# Настройки почтового сервера
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_SSL=true
EMAIL_HOST_USER=YOUR_SERVICE_EMAIL
EMAIL_HOST_PASSWORD=YOUR_SERVICE_EMAIL_PASSWORD
DEFAULT_FROM_EMAIL=YOUR_SERVICE_EMAIL
SERVER_EMAIL=YOUR_SERVICE_EMAIL
EMAIL_ADMIN=YOUR_ADMIN_EMAIL

# Поддержка
SUPPORT_EMAIL=YOUR_SUPPORT_EMAIL

# Базовый URL для API Django
REACT_APP_API_MEDIA=http://YOUR_INTERNAL_IP:80
REACT_APP_API_BASE_URL=http://YOUR_INTERNAL_IP:80/api
