# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# React-specific
react/node_modules
react/build

# Node.js/Yarn
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
/coverage

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.log

# Python/Django
__pycache__
django/venv
django/staticfiles
django/debug.log

# Django modules
django/modules/*
!django/modules/

# Django media
django/media/articles/*
!django/media/articles/
django/media/categories/*
!django/media/categories/
django/media/types/*
!django/media/types/
django/media/series/*
!django/media/series/
!django/media/placeholder.png

# Optional: Ignore compiled Python and SQLite files
*.pyc
*.sqlite3

# Optional: IDE-specific files
.vscode/
.idea/